#header {
    max-height: 100vh;
    padding: 7rem;
    overflow: hidden;
}

.header_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    text-align: center;
    height: 100%;
    color: var(--color-primary);
    background: var(--color-primary-variant);
}

.header_intro {
    background: transparent;
}

.header_intro h2, h5 {
    color: var(--color-primary-variant);
}

/* CTA */
.cta {
    margin-top: 10%;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    background: transparent;
}

.cta a.btn {
    background: transparent;
    color: var(--color-primary);
    border: 2px solid transparent;
    border-color: var(--color-primary);
}

.cta a.btn-primary {
    color: var(--color-white);
    background: var(--color-primary-variant);
    border-color: 2px solid var(--color-primary-variant);
}

/* Header Socials */
.header_socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    gap: 0.8rem;
    position: absolute;
    color: var(--color-bg-variant);
}

.header_socials a {
    color: var(--color-primary-variant);
    transition: var(--transition);
}

.header_socials a:hover {
    color: var(--color-primary);
    transform: scale(1.2);
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary-variant);
}

/* ME */

.me {
    background: linear-gradient(var(--color-bg-variant), transparent);
    position: absolute;
    border-radius: 5rem 5rem 0 0;
    top: 35%;
    left: calc(50% - 5rem);
    overflow: hidden;
}

/* Media Screen Tablet */

@media screen and (max-width: 1024px){
    #header {
        height: 68vh;
    }

    .header_container {
        text-align: center;
    }

    .me {
        top: 43%;
        min-height: min-content;
    }

    .cta a{
        content: 'CV';
        text-align: center;
        margin-top: -10rem;
    }

    .cta a.btn-primary {
        visibility: hidden;
    }


}

/* Media Screen Phone */
@media screen and (max-width: 600px){
    .header_container {
        text-align: center;
    }

    #header {
        height: 80vh;
    }

    .me{
        transform: scale(0.7);
        top: 45%;
        min-height: min-content;
    }

    .header_socials{
        display: none;
    }

    .cta {
        transform: scale(0.5);
    }
}